// Breakepoints
$large-viewport-width: 1366px;

// Paddings
$large-viewport-padding: 98px;

// Colors
$color-primary: #2c36f2;
$color-primary-special-1: #3841ff;
$color-primary-special-2: #2027b3;
$color-dark: #1f1e25;
$color-dark-dark: #000000;
$color-dark-special-1: rgba(32, 39, 179, 0);
$color-dark-special-2: rgba(56, 65, 255, 0);
$color-light: #f6f7ff;
$color-light-special-1: #e0e1ea
