@import "../../assets/scss/variables.scss";

.button-primary {
  background-color: $color-primary;
  padding-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  color: $color-light;
}
